/* *********************** Menú *********************** */
.menu-btn {
    outline: thin solid $first-color;
    /* "contorno o outline" delgado y linea solida con tal color */
    background-color: $second-color;
    border: 0;
    cursor: pointer;
}

.menu-btn svg {
    /* para dar color a los archivos svg se utiliza la propiedad fill que significa rellenar */
    fill: $first-color;
}

.menu {
    position: fixed;
    /* cuando se usa fixed se pierden las propiedades de ancho y altura */
    left: 0;
    bottom: $header-height;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $second-color;
    opacity: 0;
    /* opacidad en 0 entonces lo eslemntos ahi estan pero no se ven */
    pointer-events: none;
    /* como los elementos ahi siguen funcionando aunque no se vean se utiliza "pointer-events:none" para que aunque se aplasten los elemntos sin verlos, estos no tengan ningun efecto*/
    transition: opacity .5 ease;
    /* 0.5 de aceleracion del efecto */
}

/* el menu se activa de la siguiente manera */
.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

.menu a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: $first-color
}

.menu a:hover {
    color: $white-color;
    background: $first-color;
}