/* **************** Site Styles ************* */

/* comenzaremos con el modelo MOBILE FIRST */
.about>article {
    margin-bottom: 2rem;
}

.header {
    /* el header en version mobile va hasta abajo de la pantalla */
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    /* z-index tan alto para que ningun elemnto para por encima del menú */
    width: 100%;
    padding: 1rem;
    height: $header-height;
    background-color: $second-color;
}

.header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: $first-color;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}



@media screen and (min-width:768px) {}

@media screen and (min-width:1024px) {
    .about {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: space-between;
        align-content: center;
    }

    .header {
        position: sticky;
        /* sticky es una mezcla de posicionamiento fijo y relativo solo que se comporta como fijo en la altura que tu definas y no tapa elementos ya creados como en el fixed que se pone enciama de los elementos, este si funciona en forma de cascada */
        top: 0;
        padding: 0.5rem;
        height: calc(#{$header-height} - 0.5rem);
        /* se redujo el tamaño del heigth respecto al 0.5rem que quitamos */
    }
}