/* ***************** Utilities ******************* */

/* cre칩 una clase y copio el efecto */
.box-shadow-1 {
    box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
    /* dise침o del boton */
    border-radius: .5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: $white-color;
    background-color: $first-color;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
}

.gray-scale {
    filter: grayscale(1);
    /* efecto de escala de grises */
}

.none {
    display: none;
}

.section {
    padding: 2rem 1rem;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

@media screen and(min-width: 1024px) {
    .full-lg-screen { /* clase para hacer el tamma침o full screen despues de 1024 px de pantalla */
        width: 100%;
        min-height: 100vh; /* se adaptara al tam침o del viewport osea de la pantalla */
    }

    .text-lg-center {
        text-align: center;
    }

    .text-lg-left {
        text-align: left;
    }

    .text-lg-right {
        text-align: right;
    }
}